/* START STYLING COMMON TO ALL .html PAGES*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  color: #4CAF50;
}
.section-title {
  display: table;
  padding: 10px;
  width: 100%;
  height: 95px;
  background-color: #34495E;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  color: white;/*#ddd;*/
}
.section-title .reference-statement {
  font-style: italic;
  font-size: 12px;
}
.section-title h1 {
  margin-top: 0;
}
.section-title .textbox {
  display:table-cell;
  margin: 0;
  vertical-align: middle;
}
.subsection-title {
  align-items: center;
  display: table;
  padding: 10px;
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #707B7C;/*#34495E;*/
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
}
.subsection-title h3 {
  margin-top: 0;
}
.subsection-title .textbox {
  display:table-cell;
  margin: 0;
  vertical-align: middle;
}
.subsection-block {
  padding: 10px 0px 10px 0px;
}
.subsection-block img {
  align-items: center;
  display: table;
  padding: 10px;
  width: 100%;
  /* height: 50px; */
  margin-left: auto;
  margin-right: auto;
  /* background-color: #707B7C; */
  /* text-align: center; */
  border: 1px solid black;
  border-radius: 10px;
  /* color: white; */
}
.subsection-textbox-content {
  margin-top: 10px;
  /* align-items: center; */
  /* display: table; */
  /* padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #707B7C;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  color: black; */
}
footer {
  text-align: center;
  height:30px;
  line-height: 30px;
  display:block;
  background-color: #ddd;
  color: black;
}
footer .copyright {
  /* float: right; */
}
/* footer .footer-block {
  background-color: green;
  color: black;
} */
/* footer .author {
  float: left;
} */
  /* START STYLING RELATED TO FONTS */

  /* END STYLING RELATED TO FONTS */
  /* START STYLING RELATED TO NAVBARS */
/* @media (max-width: 768px) {
  .topnav a .about-contact {
      float: left;
  }
} */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid #3F3F3F;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* .topnav a .about-contact {
  float:right;
} */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: #333;
}

/* @media screen and (max-height: 450px) { */
@media screen and (max-width: 768px) {
  .sidenav {
      display: none;
  }
  .sidenav-page {
     margin-left: 0 !important;
  }
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 53px;
}

.sidenav a {
  /* padding: 6px 8px 6px 16px; */
  padding: 6px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  /* font-size: 25px; */
  /* color: #818181; */
  font-size: 17px;
  color: #f2f2f2;
  display: block;
}

.sidenav a:hover {
  /* color: #f1f1f1; */
  background-color: #ddd;
  color: black;
}
.sidenav a.active {
  /* color: black; */
  color: #f2f2f2;
  background-color: #34495E;

}
.sidenav-page {
   margin-left: 160px; /* Same as the width of the sidenav */
}
  /* END STYLING RELATED TO NAVBARS */
/* END STYLING COMMON TO ALL .html PAGES */

/* START STYLING UNIQUE TO `index.html` */
.introduction {
  text-align: center;
}
.introduction h2 {
  margin-top: 0;
}
.container-fluid {
  padding:0px;
}
.home-image img{
  padding: 10px 0px 0px 0px;
  width: 100%;
  max-height: 600px;
}
.textbox {
  padding: 10px 0px 0px 0px;
  width: 100%;
  max-height: 680px;
}
.textbox .text {
  padding: 4px;
  /* background: ; */
  width: 100%;
  text-align: left;
}
.textbox .text .main-page-header {
  text-align: left;
}
.textbox .text p {
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
  .main-page-header {
    text-align: center !important;
  }
}
/* END STYLING UNIQUE TO `index.html` */


/* START STYLING UNIQUE TO `programming.html` */

.center-cell {
  text-align: center;
  padding:2px;
}
.left-cell {
  text-align: left;
  padding:2px;
}
.table-title {
    display: table;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    height: 95px;
    background-color: #34495E;
    text-align: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    color: white;/*#ddd;*/
}
.table {
  /* padding: 10px; */
  margin:0;
  /* background-color: #ddd; */
  color: black;
}
.table .table-footer {

}
.table h2 {
  margin-top: 0;
  padding-top: 10px;
  text-align: center;
}
.table ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.table .table-notes {
  font-style: italic;
  font-size: 12px;
}
.summary {
  text-align: left;
  padding: 10px 0px 10px 0px;
  /* background-color: #34495E; */
  /* color: #ddd; */
}
.page-text p, span{
  padding: 0px 8px 0px 8px;

}
.page-text {
  padding: 10px;
  color: black;
}
.page-text h2 {
  text-align: center;
  margin-top: 0;
  /* text-decoration: underline; */
}
.detailed-programming-experience {
  /* padding:10px; */
  /* background-color: #333;
  color: #ddd; */
}
.future-learning {

}
.learning-objectives {
  text-align:center;
}
.whats-next {
  padding: 10px 0px 10px 0px;
  /* background-color: #34495E; */
  color: black;
}
.additional-skills-and-tools {
  /* background-color: #34495E; */
  padding: 10px 0px 10px 0px;
}
.additional-skills-and-tools h4 {
  text-decoration: underline;
}
.operating-systems {
  text-align:center;
}
/* .os-header h4 {

} */
.editors {
  text-align:center;
}
/* .editors-header h4 {

} */
.misc {
  text-align:center;
}
/* .misc-header h4 {

} */
.certifications {
  padding: 10px 0px 10px 0px;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.certifications h2 {
  text-align: center;
  /* padding: 10px 0px 10px 0px; */
}
.certifications p {
  text-align: center;
}
/* END STYLING UNIQUE TO `programming.html` */

/* START STYLING UNIQUE TO `contact.html` */
/* .flex-row {
  display: flex;
  justify-content: space-around;
}

.flex-col {
  flex: 1;
  flex-direction: column;
  margin: 10px;
} */
.contact-box {
  text-align: center;
  background-color: #333;
  color: #ddd;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
/* .contact-box .textbox{
  display:table-cell;
  margin: 0;
  vertical-align: middle;
} */
.contact-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px 0px 0px;
  width: 75%;
  max-height: 680px;
}
/* END STYLING UNIQUE TO `contact.html` */



/* START STYLING UNIQUE TO `resume.html` */
/* #who-am-i {
  padding-top: 53px;
} */
#current-experience {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
#byu-dept-of-chemistry {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
#edge-tutoring {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
#ihc-r1 {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
#volunteer-developer-programmer {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
#volunteer-chemistry-tutor {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
#missionary {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
/* #work-experience {
  margin-bottom: -20px;
  display: inline-block;
} */

.company {
  /* padding-top: 10px; */
}
.company-head {
  padding: 10px;
  background-color: #ABB2B9;
  /* background-color: #ddd; */
  color: black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px 10px 0px 0px;
}
.company-body {
  padding: 8px;
  /* background-color: #ddd; */
  color: black;
  border: 2px solid black;
}
.company-name {
  margin-top: 0;
  text-align: center;
}
.work-experience {
  padding: 0px 0px 0px 0px;
}
.work-experience h2 {
  margin-top: 0;
  text-align: center;
  /* text-decoration: underline; */
}
.work-experience h3 {
  margin-top: 0;
  text-align: center;
}
.job-information h5 {
  font-style: italic;
  text-align: center;
}
.job-information p {
  font-style: italic;
  text-align: center;
}
.volunteer-experience {
  padding: 10px 0px 0px 0px;
}
.what-i-did {

}
.what-i-learned {

}
/* END STYLING UNIQUE TO `resume.html` */



/* START STYLING UNIQUE TO `about.html` */
.temp h2 {
  text-align:center;
}
#who-am-i {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
#arizona-tempe-mission {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
#byu {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
#programming {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
#personal-life  {
  margin-top: -53px;
  padding-bottom: 53px;
  display: inline-block;
}
/* END STYLING UNIQUE TO `about.html` */



/* START STYLING UNIQUE TO `education.html` */

/* END STYLING UNIQUE TO `education.html` */
